.sections1 {
    display: flex;
    height: 100vh;
    gap: 20px;
    color: rgb(0, 0, 0);
    background-image: url(./assets/images/BackgroundSlogan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    border-radius: 25%;
    flex-wrap: wrap;
    width: 190px ;
    height: auto;
    margin-top: 10vh;
}

.h3 {
    max-width: 60vw;
    font-size: 20px;
    font-weight: bold;
}

.belowContent{
    flex-direction: column !important;
    width: 75%;
    padding-bottom: 15vh;
}

.p{
    margin-top: 15px;
    background-color: rgba(72, 72, 72, 0.312);
    border-radius: 15px;
}

.sections2 {
    height: 100vh;
    background-image: url(./assets/images/BackgroundVideo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    align-content: center;
}

.button{
    display: flex;
    justify-self: center;
    border-radius: 999px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 94, 0);
}

.button:hover{
    background-color: blue;
    color: aliceblue;
    transition: 300ms all ease-in-out;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

@media (width > 1320px) {
    .sections1{
        gap: 10vh;
    }

    .img{
        width: 450px ;
        height: auto;
        margin-top: 15px;
    }

    .h3{
        max-width: 30vw;
        font-size: 40px;
    }

}