.header{
    background-color: rgb(38, 38, 38);
    position: fixed !important;
    width: 100%;
    top: 0px;
    padding: 15px;
}

.a{
    text-decoration: none;
    color: #5d5d5d;
}

.a:hover{
    color: aliceblue;
    transition: 300ms all ease-in-out;
}

.wrapPage{
    padding-top: 12vh;
    text-align: center;
    color: black;
    background-image: url(./assets/images/BackgroundAPI.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    padding: 5px;
    margin-bottom: 30px;
}

.erro{
    margin-top: 40vh;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}